---
layout: archive
permalink: /tags/
title: "Resources by Tags"
author_profile: true
---

<!-- Old code
{% include base_path %}
{% include group-by-array collection=site.media field="tags" %}
-->

---
layout: archive
permalink: /tags/
title: "Resources by Tags"
author_profile: true
---

{% include base_path %}

{% assign media_posts = site.media %}
{% assign all_tags = media_posts | map: "tags" | join: "," | split: "," | uniq | sort %}

{% for tag in all_tags %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in media_posts %}
    {% if post.tags contains tag %}
      {% include archive-single-podcasts.html %}
    {% endif %}
  {% endfor %}
{% endfor %}



<!--new Code
{% assign combined_posts = site.publications | concat: site.activities %}
{% assign combined_tags = combined_posts | map: 'tags' | flatten %}

{% include group-by-array collection=combined_tags field="tags" %}
-->

<!-- Explanation:
site.posts | map: 'tags' pulls the tags from site.posts.
site.pages | map: 'tags' pulls the tags from site.pages.
concat combines both arrays of tags into one.
Then, you pass the combined array of tags into the group-by-array include, 
just like you're doing with a single collection.
-->

<!-- This code is used to combine and display tags
{% assign combined_posts = site.posts | concat: site.pages %}
{% assign tag_groups = combined_posts | group_by: 'tags' %}
-->

<!--
site.posts | concat: site.pages: This combines posts from both collections.
group_by: 'tags': Groups the combined posts by their tags.


{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single-podcasts.html %}
  {% endfor %}
{% endfor %}
-->


